<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=am.ik.archetype"/>
        <listEntry value="archetypeArtifactId=mvc-1.0-blank-archetype"/>
        <listEntry value="archetypeVersion=1.0.0-m02"/>
        <listEntry value="groupId=Aspose "/>
        <listEntry value="artifactId=excel"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=Aspose.excel"/>
        <listEntry value="outputDirectory=C:\Users\SANKET JAIN\eclipse-workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\SANKET~1\AppData\Local\Temp\m2e-archetypeGenerator6944795643024160441"/>
</launchConfiguration>
